# database settings for runtime and SQL migrations
#     select the block matching your database vendor
#     note that the following variables are already set to valid values
#         DB_TYPE
#             internal database selector
#         DB_DSN
#             DSN configured for GORM, our internal database access library
#             more information at https://gorm.io/docs/connecting_to_the_database.html
#         GOOSE_DRIVER, GOOSE_DBSTRING
#             built-in environment variables supported by goose, our SQL migration library
#             more information at https://pressly.github.io/goose/documentation/cli-commands/

# MariaDB or MySQL

DB_USER=username
DB_PASS=userpass
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=deltapilot
DB_CHARSET=utf8mb4
DB_TYPE=db_mysql
DB_DSN=${DB_USER}:${DB_PASS}@tcp(${DB_HOST}:${DB_PORT})/${DB_NAME}?charset=${DB_CHARSET}&parseTime=True

GOOSE_DRIVER=mysql
GOOSE_DBSTRING=${DB_USER}:${DB_PASS}@tcp(${DB_HOST}:${DB_PORT})/${DB_NAME}?charset=${DB_CHARSET}

# PostgreSQL

DB_USER=username
DB_PASS=userpass
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=deltapilot
DB_CHARSET=UTF8
DB_TYPE=db_postgresql
DB_DSN=host=${DB_HOST} user=${DB_USER} password=${DB_PASS} dbname=${DB_NAME} port=${DB_PORT}

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}?client_encoding=${DB_CHARSET}
